<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="g#1.0.0-milestone.output.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="g#1.0.0-milestone.output.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="g#1.0.0-milestone.output.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>